.bottom-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem var(--section-padding, 10rem) 1rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.bottom-toolbar.slide-mode .bottom-toolbar__my-list-btns {
  opacity: 0;
}

.my-list-btn:not(.word__star) {
  line-height: 1.2rem;
  margin: 0 2rem;
  font-size: 1.2rem;
  background-color: #e5e5e5;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.35rem 0.4rem;
  vertical-align: bottom;

  transition: all 0.3s ease-in-out;
}

.bottom-toolbar__unknown-icon {
  font-size: 1rem;
  padding: 0.42rem 0.5rem;
}

.bottom-toolbar__learned-icon:hover,
.bottom-toolbar__learned-icon.active {
  background-color: rgb(68, 241, 45) !important;
}

.bottom-toolbar__unknown-icon:hover,
.bottom-toolbar__unknown-icon.active {
  background-color: rgb(231, 78, 78) !important;
}

.bottom-toolbar__uncertain-icon:hover,
.bottom-toolbar__uncertain-icon.active {
  background-color: rgb(245, 241, 19) !important;
}

.bottom-toolbar__arrow {
  color: #535353;
  font-size: 3rem;
  line-height: 2rem;
  padding: 0 0.8rem;
  border-radius: 1.5rem;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  z-index: 20;
}

.bottom-toolbar.slide-mode .bottom-toolbar__arrow {
  color: #fff;
  background-color: transparent;
}

.bottom-toolbar__arrow:hover {
  background-color: #f4f6f6;
}
.bottom-toolbar.slide-mode .bottom-toolbar__arrow:hover {
  background-color: #5eddfd;
}

.word__slide {
  background-color: #22cff9;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 220px);
  z-index: 15;
  transform: none;
  border-top-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;
  cursor: pointer;
  transition: all 0.6s ease;
}

.word__slide.hidden {
  transform: translateY(110%);
}

.word__slide:hover .word__slide-arrow {
  color: #fff;
}

.word__slide-arrow {
  color: #e0d5d5;
  position: absolute;
  top: 1.5rem;
  font-size: 1.7rem;
  transform: translateX(-50%);
  left: 50%;
  transition: all 0.3s ease;
}

@media screen and (max-width: 991.98px) {
  .my-list-btn:not(.word__star) {
    margin: 0 1.8rem;
  }
  .word__slide {
    height: calc(100vh - 195px);
  }
}

@media screen and (max-width: 767.98px) {
  .my-list-btn:not(.word__star) {
    margin: 0 1.5rem;
  }

  .bottom-toolbar {
    padding-top: 0.4rem;
    padding-bottom: 0.9rem;
  }

  .word__slide {
    height: calc(100vh - 167px);
  }
}

@media screen and (max-width: 479.98px) {
  .my-list-btn:not(.word__star) {
    margin: 0 1rem;
    padding: 0.3rem 0.35rem;
    font-size: 1rem;
  }

  .bottom-toolbar__arrow {
    font-size: 2.7rem;
    padding: 0 0.6rem;
  }

  .word__slide {
    height: calc(100vh - 150px);
  }
}
