* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: auto;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: unset;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body.locked {
  overflow: hidden;
}
/* Scrollbar */
/* width */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: #c6c2c2;
  border-radius: 10px;
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background: #a3a0a0;
}

.main.playing {
  background-color: #e0e0e0;
}

.loading {
  position: absolute;
  z-index: 14;
  height: 30vh;
  width: 30vw;
  left: 50%;
  transform: translateX(-50%);
  top: var(--toolbar-height, 73px);
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --section-padding: 10rem;
  --toolbar-height: 73.6px;
}

@media screen and (max-width: 1200px) {
  :root {
    --section-padding: 8rem;
  }
}

@media screen and (max-width: 991.98px) {
  :root {
    --section-padding: 6rem;
  }
}

@media screen and (max-width: 767.98px) {
  :root {
    --section-padding: 2rem;
    --toolbar-height: 66px;
  }
}

@media screen and (max-width: 479.98px) {
  :root {
    --section-padding: 0.5rem;
  }

  .loading {
    top: calc(var(--toolbar-height, 73px) * 0.5);
  }
}
